/* Basic CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    /* background-color: #f4f4f4; */
    background-color: rgb(193, 186, 161);
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: inline;
    font-size: 1.5em;
    background-color: darkgray;
    color:black;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    background-color: darkgray;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    
}

nav ul li a:hover {
    text-decoration: underline;
}

.section {
    padding: 50px 20px;
    text-align: center;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.project {
    margin: 20px 0;
}

al {
    list-style-type: none;
    padding: 10px 20px;
    display: inline-block;
    background-color: #ddd;
    margin: 10px;
    border-radius: 5px;
}

ul li {
    display: inline-block;
    background-color: #ddd;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

footer {
    background-color:black;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
#foot{
    background-color: black;
}
.social-links {
    margin-top: 20px;
}

.social-links h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.social-icon {
    display: inline-block;
    margin: 0 15px;
}

.social-icon img {
    width: 40px; /* Adjust size of the icons */
    height: 40px;
    transition: transform 0.3s ease;
}

.social-icon:hover img {
    transform: scale(1.1); /* Slight zoom effect on hover */
}

